services:
  frontend:
    build: ./client
    ports:
      - "80:80"
    environment:
      - REACT_APP_API_URL=http://3.109.2.224:3000
    depends_on:
      - backend
    restart: always
  
  backend:
    build: ./server
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - JWT_SECRETKEY=chintapaktamtam
      - MONGODB_URI=mongodb+srv://mdaud9062_db_user:OWMPP19JHAFBAzSO@shop-sphere.pwtcm1s.mongodb.net/?retryWrites=true&w=majority&appName=Shop-Sphere
    restart: always
